#navBar {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom:25px;
}


div#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(229, 157, 93, 0.94);
    width: 100%;
    margin: 5px;
}


#navbar nav {
    margin: 0%;
    background-color: rgb(234, 143, 16);
    height: 30%;
}

#root .container #navBar .navbar a {
  width: 346.5%;
  font-size: 2.25rem;
}


#navBar nav{
    width:100%;
    transform:translatex(0px) translatey(0px);
}

  
  @media only screen and (max-width: 560px) {
    html {
      font-size: 35px;
      text-align: center;
      background-image: url("./desktop_background.jpg");
      background-attachment: cover;
      font-size: 18px;
    }
  }
  
  input:focus {
    outline: none;
  }
  
  .App {
    font-family: 'Work Sans', sans-serif;
  }
  
  h1 {
    width: 100%;
    text-align: center;
    background-color: #e6a43b; /*Navbar Color Changer */
    font-family: Poppins, sans-serif;
    font-size: 2rem;
    color: #fff;
    height: 1.5rem;
    padding: 3.5rem 0;
    padding: 2rem;
  }


/* Navigation */
#navBar nav{
  transform:translatex(8px) translatey(57px);
  flex-direction:column;
  align-items:center;
  flex:1 1 0%;
  flex-wrap:wrap;
  justify-content:center !important;
  display:flex;
  clear:none;
  visibility:visible;
  opacity:1;
  background-position-y:0%;
  background-repeat:no-repeat;
  background-clip:text;
  color:transparent;
  background-position-x:0%;
  background-attachment:scroll;
  background-size:auto;
  float:none;
  align-self:auto;
  padding-top:0px;
  padding-bottom:0px;
  margin-bottom:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  border-width:0px;
  border-style:solid;
  border-color:transparent;
  white-space:break-spaces;
  font-size: 60px;
  line-height:1em;
  text-transform:lowercase;
  font-weight:500;
  word-spacing:-5px;
  column-count:1;
  direction:ltr;
  letter-spacing:3px;
  height:100px;
  overflow:visible;
  max-height:45px;
 }
 

 /* Navigation */
 #root .container #navBar nav{
  background-color:#b3ea11 !important;
 }
 

 /* Navbar */
 #root .container #navBar .navbar{
  text-shadow:rgb(255, 0, 0) -1px 0px 0px, rgb(0, 255, 255) 1px 0px 0px !important;
  text-decoration:none !important;
  width:100% !important;
 }


 #search-business-form input[type=text].form-control:nth-child(1) {
  margin-left: 30px;
  margin-right: 20px;
 }
 

#search-business-form input[name=Location] {
  margin-left: 30px;
  margin-right: 20px;
 }


 /* Search business form */
#search-business-form{
  position:relative;
  bottom: -200px;
 }
 
 /* Input */
 #search-business-form input[type=Location]{
  overflow:visible;
  width:313px !important;
  height:50px;
 }
 

 /* Input */
 #search-business-form input[type=Term]{
  height:10px;
  width:100%;
 }
 

 /* Link */
 #navBar .navbar a{
  transform:translatex(0px) translatey(-38px);
  position:relative;
  left:0px;
  margin-bottom: 0px;
 }

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 4rem;
  align-items: center;
  list-style: none;
}

/* Heading */
#root > div > h1{
  position:relative;
  top:-68px;
  transform:translatex(0px) translatey(0px);
  min-height:38px;
  padding-bottom:43px;
  margin-bottom:0px;
 }
 
 /* List */
 #root div ul{
  position:static;
  list-style-type:none;
  list-style-position:outside;
  overflow:visible;
  height:16px;
  column-count:1;
  word-spacing:2.7px;
  text-align:left;
  line-height:0px;
  font-size:18px;
  font-weight:500;
  white-space:pre-wrap;
 }
 
 /* List */
 #root div div div ul{
  text-shadow:rgb(255, 255, 255) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px !important;
  text-decoration:none !important;
 }
 
 #root div ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 }