.SearchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./desktop_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.SearchBarSortOptions ul {
  display: flex;
  justify-content: center;
  margin-bottom: 3.22rem;
  color: #ffffff;
}

.SearchBarSortOptions li {
  cursor: pointer;
  width: 4.33rem;
  border-bottom: 1px solid #fff;
  padding: 0 2.58rem 0.33rem 2.58rem;
  line-height: 1.13;
  text-align: center;
  font-weight: 600;
  font-size: 2.83rem;
  transition: color 0.25s;
  list-style: none;
}

.SearchBarSortOptions li:hover {
  color: #d4cfcf;
}

.SearchBarSortOptions li.active,
.SearchBarSortOptions li.active:hover {
  border-bottom: 1px solid #f0c36c;
  color: #f0c36c;
}

.SearchBarFields {
  display: flex;
  justify-content: center;
  margin-bottom: 2.88rem;
}

.SearchBarFields input {
  width: 10rem;
  padding: 0.3rem 1rem;
  border-radius: 4px;
  font-size: 1.8rem;
  font-weight: 300;
}

.SearchBarFields input:last-child {
  margin-right: 0;
}

.SearchBarSubmit {
  text-align: center;
}

.SearchBarSubmit button {
  border-radius: 1px;
  padding: 0.72rem 1.7rem;
  background-color: #cca353;
  color: #ffffff;
  font-weight: 600;
  transition: background-color 0.5s;
  border: 0;
}

.SearchBarSubmit button:hover {
  cursor: pointer;
  background-color: #a7874b;
}

@media only screen and (max-width: 560px) {
  .SearchBar {
    background-image: url("./mobile_background.jpg");
  }

  .SearchBarSortOptions ul {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .SearchBarFields {
    flex-direction: row;
    align-items: center;
  }
}


h1 {
  margin-bottom: 0rem;
  font-size: 1.6rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

div.SearchBar-fields {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
  padding: 2rem;
}
a {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: space-evenly;
  color: rgb(255, 255, 255);
  flex-shrink: 1;
}

a:hover {
  color: #f6f6e1;
  font-size: 1.05rem;
  border:solid 1px #f6f6e1;
  outline: cursor;
  border-radius: 15px;
  background-color: hsla(100, 100, 100, 80)
} 
/* List */
#root div ul{
  padding-top:0px;
  padding-right:60px;
  padding-left:60px;
  margin-top:-40px;

  margin-right:60px;
  margin-left:60px;
 }

 /* Heading */
#root > div > h1{
  margin-top:0px;
  transform:translatex(-6px) translatey(0px);
  padding-bottom:48px;
  padding-left:40px;
 }
 
 #root > div > a {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between
 }

 /* Division */
#root form div{
  padding-top:-5px;
  padding-bottom:400px;
 }
 
 /* List */
 #root div a{
  padding-left:50px;
  margin-right:10px;
  padding-right:50px;
  margin-left:10px;
 }


 input.form-control.mr-sm-2 {
  height: 1.5rem;
 }